<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Adivina el numero</title>
</head>
<body>
<h1>Te quedan <label th:text="${vidas}"></label> vidas!</h1>
    <form action="juego" method="get">
        <label>
            <input type="number" name="number" placeholder="Numero" min="1" max="100" required>
        </label>
        <input type="submit" value="Adivinar!">
    </form>
    <br/>
    <h3 th:text="${help}"></h3>
    <h3>Numeros que has ido probando:</h3>
    <ul th:each=" try : ${lista}" th:remove="tag">
        <li th:text="${try}"></li>
    </ul>
</body>
</html>