<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Adivina el numero</title>
</head>
<body th:attr="bgcolor=${colorS}">
<h1>El color general es: <label th:text="${colorG}"></label></h1>
<h3>(Solo funciona si se deja el campo vacío o se mete un texto valido)</h3>
<h4>Cuidado que quedan los parametros setteados en la url y al recargar se pueden volver a enviar (por eso parece que no funciona el color general, pero funciona)</h4>
    <form action="juego" method="get">
        <label>
            <input type="text" name="colorS" placeholder="Color de la sesión">
        </label>
        <label>
            <input type="text" name="colorG" placeholder="Color general">
        </label>
        <input type="submit" value="Cambiar!">
    </form>
    <br/>
</body>
</html>